.header{
    box-sizing: border-box;
    margin:0;
    height: fit-content;
    background-color: red;
    border-bottom: solid 4px black;
}

ul{
    position: relative;
    left:50%;
    margin: 0;
    display:flex;
    width: fit-content;
}
li{
    margin: 0 1em 0 1em;
}

.logo{
    box-sizing: inherit;
    padding: .5em;
    top:.5em;
    left: .5em;
    display: flex;
    width: fit-content;
}

.logo img{
    width: 3em;
}

.logo p{
    margin: 0 .5em;
    position: relative;
    top:.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.logo p:hover{
    cursor: default;
}